<ion-view>


    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

        <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>
    <div class="girl">
    <ion-content class="has-header">


        <!-- <td-cards>
            <!-card  ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)"
                     on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}" ng-controller="CardCtrl">

                <!--<div class="image">
                  <!--  <div class="yes-text" ng-style="leftTextOpacity" ng-click="addCard()">LIKE</div>-->

                        <!--<img ng-src="{{card.profile_path}}">
                        <!--  <div class="no-text" ng-style="rightTextOpacity" ng-click="cardDestroyed()">NOPE</div>-->
                    <!--</div>
                    <h1 style="background-color: white;">{{card.name}}</h1>

                </td-card>

            </td-cards> -->

            <div id="girls"></div>
            <div id="control"  ng-controller="BondgirlsCtrl">
                <div class="button no" ng-click="nofunc()">
                    <a href="#" class="trigger"></a>
                </div>

                <div class="button yes"  ng-click="yesfunc()">
                    <a href="#" class="trigger"></a>
                </div>
                <div ng-repeat="n in naam track by $index"  >
                    <span>{{n}}</span>
                </div>

            </div>

    </ion-content>
    </div>
</ion-view>