<ion-view>
    <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img id="logo" class="Responsive image" src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>
    <div ng-show="loading" class="loadingMap">
        <span class="ion-loading-c" style="font-size: 100px;"></span>
    </div>
    <!--<div class="locatie">
        <div class="row">

            <div class="col col-75" id="map50">

                <div id="map"></div>
                <div id="loadingMap" style="position: absolute;margin-top: -10%;margin-left: 58%;">
                    <img src="img/loadingBar.gif" />
                </div>
            </div>

            <div class="col col-25" id="map25">
                <div class="mapList">
                    <div>
                        <input id="checkbox-btn" class="checkbox" type="checkbox" ng-change="markerSC(SCvalue)"
                               ng-model="SCvalue">
                        <label class="label" for="checkbox-btn" class="checkbox" type="checkbox">Connery</label>
                    </div>
                    <div>
                        <input id="checkbox-btn2" class="checkbox2" type="checkbox" ng-change="markerGL(GLvalue)"
                               ng-model="GLvalue">
                        <label class="label2" for="checkbox-btn2" class="checkbox2" type="checkbox">Lazenby</label>
                    </div>
                    <div>
                        <input id="checkbox-btn3" class="checkbox3" type="checkbox" ng-change="markerRM(RMvalue)"
                               ng-model="RMvalue">
                        <label class="label3" for="checkbox-btn3" class="checkbox3" type="checkbox">Moore</label>
                    </div>
                    <div>
                        <input id="checkbox-btn4" class="checkbox4" type="checkbox" ng-change="markerTD(TDvalue)"
                               ng-model="TDvalue">
                        <label class="label4" for="checkbox-btn4" class="checkbox4" type="checkbox">Dalton</label>
                    </div>
                    <div>
                        <input id="checkbox-btn5" class="checkbox5" type="checkbox" ng-change="markerPB(PBvalue)"
                               ng-model="PBvalue">
                        <label class="label5" for="checkbox-btn5" class="checkbox5" type="checkbox">Brosnan</label>
                    </div>
                    <div>
                        <input id="checkbox-btn6" class="checkbox6" type="checkbox" ng-change="markerDC(DCvalue)"
                               ng-model="DCvalue">
                        <label class="label6" for="checkbox-btn6" class="checkbox2" type="checkbox">Craig</label>
                    </div>

                    <div class="flip">
                        <span class="active" id="active" ng-click="getLocation()">OFF</span>
                        <span class="off" id="off" ng-click="removeLocation()">ON</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="locatie">

<div ng-show="showwer" ng-hide="!showwer">
        <div id="map50" style="position: absolute; width: 100%; padding: 20px;">

            <div id="map" style="left: 26px; margin-right: 71px; "></div>
            <div id="loadingMap">
                <img src="img/loadingBar.gif"/>
            </div>

        </div>
        <div ng-click="menugps()" class="buttonclicker" style="position: absolute; background-color: rgba(0,0,0,0.5); height: 30px; width:60px; top:79px; right:0px;">
<span class="ion-more" style="color: #ffffff; top:-10px; left:10px; font-size: 38px; position: relative; "></span>
        </div>
        <div class="thegpsconsole" ng-hide="!checker" ng-show="checker" style="position: absolute; width: 300px; height: 900px; right: 0px;  overflow: hidden;">
        <div class="mapList">

            <div>
                <input id="checkbox-btn" class="checkbox" type="checkbox" ng-change="markerSC(SCvalue)"
                       ng-model="SCvalue">
                <label class="label" for="checkbox-btn" class="checkbox" type="checkbox">Connery</label>
            </div>
            <div>
                <input id="checkbox-btn2" class="checkbox2" type="checkbox" ng-change="markerGL(GLvalue)"
                       ng-model="GLvalue">
                <label class="label2" for="checkbox-btn2" class="checkbox2" type="checkbox">Lazenby</label>
            </div>
            <div>
                <input id="checkbox-btn3" class="checkbox3" type="checkbox" ng-change="markerRM(RMvalue)"
                       ng-model="RMvalue">
                <label class="label3" for="checkbox-btn3" class="checkbox3" type="checkbox">Moore</label>
            </div>
            <div>
                <input id="checkbox-btn4" class="checkbox4" type="checkbox" ng-change="markerTD(TDvalue)"
                       ng-model="TDvalue">
                <label class="label4" for="checkbox-btn4" class="checkbox4" type="checkbox">Dalton</label>
            </div>
            <div>
                <input id="checkbox-btn5" class="checkbox5" type="checkbox" ng-change="markerPB(PBvalue)"
                       ng-model="PBvalue">
                <label class="label5" for="checkbox-btn5" class="checkbox5" type="checkbox">Brosnan</label>
            </div>
            <div>
                <input id="checkbox-btn6" class="checkbox6" type="checkbox" ng-change="markerDC(DCvalue)"
                       ng-model="DCvalue">
                <label class="label6" for="checkbox-btn6" class="checkbox2" type="checkbox">Craig</label>
            </div>
            <!--<button ng-click="getLocation()">Where am I?</button> -->
            <div class="flip">
                <span class="active" id="active" ng-click="getLocation()">OFF</span>
                <span class="off" id="off" ng-click="removeLocation()">ON</span>
            </div>
        </div>
        </div>
    </div>
    </div>
</ion-view>