<ion-view>
    <ion-nav-buttons side="left">
        <a id="backbutton" href="#/app/bonds"><span class="ion-chevron-left"></span></a>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <img id="logo" class="Responsive image"  src="img/logo_james_bond_site_logo_white.png"/>
    </ion-nav-buttons>

    <div class="row">

        <div class="col col-75" id="map50">

      <!--  <div class="item item-text-wrap"  style="width: 100%; height: 500px;">-->

<!--http://codepen.io/pollardld/pen/gmjrt

http://codepen.io/mollie/pen/wEvbd-->

                       <div id="map"  style=" postion:absolute; width:1200px; height:800px; left: 0px; top: -50px;"></div>


        </div>

        <div class="col col-25" id="map25">
            <div class="globe"></div>
                <div class="mapList">
                    <div>
                        <input id="checkbox-btn" class="checkbox" type="checkbox">
                        <label class="label" for="checkbox-btn" class="checkbox" type="checkbox">Sean Connery</label>
                    </div>
                    <div>
                        <input id="checkbox-btn2" class="checkbox2" type="checkbox">
                        <label class="label2" for="checkbox-btn2" class="checkbox2" type="checkbox">George Lazenby</label>
                    </div>
                    <div>
                        <input id="checkbox-btn3" class="checkbox3" type="checkbox">
                        <label class="label3" for="checkbox-btn3" class="checkbox3" type="checkbox">Timothy Dalton</label>
                    </div>
                    <div>
                        <input id="checkbox-btn4" class="checkbox4" type="checkbox">
                        <label class="label4" for="checkbox-btn4" class="checkbox4" type="checkbox">Roger Moore</label>
                    </div>
                    <div>
                        <input id="checkbox-btn5" class="checkbox5" type="checkbox">
                        <label class="label5" for="checkbox-btn5" class="checkbox5" type="checkbox">Pierce Brosnan</label>
                    </div>
                    <div>
                        <input id="checkbox-btn6" class="checkbox6" type="checkbox">
                        <label class="label6" for="checkbox-btn6" class="checkbox2" type="checkbox">Daniel Craig</label>
                    </div>
                </div>
        </div>
    </div>
    </ion-view>