<ion-side-menus ng-class="fade">

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">

        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" expose-aside-when="large">

        <ion-content class="has-header">

            <ion-list id="menuitemsjbsite">
                <ion-item nav-clear menu-close class="navItemBond redline" id="navbond" ng-click="updateline()">
                    <a href="#/app/bonds">
                        <div>BONDS</div>
                    </a>
                </ion-item>

                <ion-item nav-clear menu-close class="navItemGirls" id="navgirl" ng-click="updateline()">
                    <a href="#/girls/bondgirls">
                        <div>BONDGIRLS</div>
                    </a>
                </ion-item>

                <ion-item nav-clear menu-close class="navItemCars" id="navcars" ng-click="updateline()">
                    <a href="#/app/cars">
                        <div>CARS</div>
                    </a>
                </ion-item>
                <ion-item nav-clear menu-close class="navItemMap" id="navmap" ng-click="updateline()">
                    <a href="#/app/map">

                        <div>MAP</div>
                    </a>
                </ion-item>
                </a>
                </ion-item>
            </ion-list>

        </ion-content>
        <div class="designedby">

            <img class="designedbyImage" src="img/fabrice_design.png" alt="Logo Fabrice Stritzel"/>

            Designed by Fabrice Stritzel and Peter VandenKerckhove
        </div>
    </ion-side-menu>
</ion-side-menus>
